@charset "UTF-8";
/* CSS Document */
container{
	width: 1020px;
	margin:o auto;
}
body{
	margin: 0 auto;
	width: 1020px;
	background-color: #594646;
}
header{
	width: 100%;
	height: 115px;
	border-radius: 10px;
	background-color: white;
	font-family: Luminari, k;
	text-align: center;
	font-size: 20px;
	line-height: 3;
	color: #a68181;
	text-shadow: -4px 0px #594646;
	margin-bottom: 15px;
}
