@charset "UTF-8";
/* CSS Document */
body{
	margin: 0 auto;
	width: 1366px;
	background-color: #594646;
}
#container{
	width: 1366px;
	margin: 0 auto;
}
header{
    width: 100%;
    height: 150px;
    background-color: white;
}
.logo{
	padding-left: 1%;
}
h1{
    width: 1216px;
    height: 150px;
    background-color: white;
    font-family: Luminari;
    font-size: 38px;
    color: #a68181;
    text-shadow: -4px 0px #594646;
    text-align: center;
    line-height: 150px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #a68181;
	font-family: 'El Messiri' sans-serif;
}
li{
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #594646;
}
.active {
	background-color: #592b2b;
}
.main-pic{
	display: block;
    margin-left: auto;
	margin-right: auto;
}
#separation{
	width: 100%;
	margin: 0 auto;
	float: left;
	background-color: #A68181;
	height: 30px;
	margin-bottom: 20px;
}
.articles{
	width: 1081px;
    height: 300px;
    float: left;
	background-color: white;
    border: thin solid;
    border-color: #594646;
    padding-left: 10px;
    padding-right: 15px;
	padding-bottom: 20px;
    margin-left: 130px;
    margin-right: 130px;
	margin-bottom: 20px;
	font-family: 'El Messiri', sans-serif;
	font-size: 18px;
}
.articles a{
	color: #DF6B6B;
}
.icons{
	width: 150px;
	margin: 10px;
	float: left;
	height: auto;
	vertical-align: middle;
}
h2{
	width: 100%;
    font-family: Luminari;
    font-size: 22px;
    color: #a68181;
    text-shadow: -2px 0px #594646;
    text-align: center;
}
.photos{
    width: 140px;
	border-radius: 10px;
}
#form{
	width: 1006px;
    height: 900px;
    float: left;
	background-color: white;
    border: thin solid;
    border-color: #594646;
    padding-left: 50px;
    padding-right: 50px;
	padding-bottom: 20px;
    margin-left: 130px;
    margin-right: 130px;
	margin-bottom: 20px;
	font-family: 'El Messiri', sans-serif;
	font-size: 18px;
	text-align: left;
}
h3{
	width: 100%;
    font-family: Luminari;
    font-size: 20px;
    color: #a68181;
    text-shadow: -1px 0px #594646;
    text-align: center;
}
.box{
	width: 806px;
	font-size: 16px;
	font-family: 'El Messiri', sans-serif;
	}
.center{
	text-align: center;
}
#pinkback{
	width: 1086px;
    height: 450px;
    float: left;
	background-color: #D9A9A9;
    border: thin solid;
    border-color: #594646;
    padding-left: 10px;
    padding-right: 10px;
	padding-bottom: 20px;
    margin-left: 130px;
    margin-right: 130px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.icontact{
	width: 150px;
	margin-left: 105px;
	margin-right: 105px;
	margin-bottom: 55px;
	margin-top: 75px;
	float: left;
	height: auto;
	vertical-align: middle;
	border: thin solid;
	border-radius: 100px;
	border-color: #594646;
}
.context{
	width: 175px;
    height: 120px;
    float: left;
    border: thin solid;
    border-color:#594646;
	border-radius: 8px;
	color: #592b2b;
	background-color: white;
	text-align: center;
	font-family: 'El Messiri', sans-serif;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 75px;
	margin-right: 75px;
}
label{
	display: block; 
	width: 10em; 
	float: left;
}
footer{
	margin: 0 auto;
	height: 70px;
	width: 1366px;
	background-color: #A68181;
	clear: both;
	text-align: center;
	color: white;
	font-family: Luminari;
}
footer a{
	color: white;
	float: right;
	padding-right: 1%;
}
